.formContainer {
  background-color: var(--background-Color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.formContainerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 60%;
  margin-left: 40px;
  margin-right: 40px;
}

@media only screen and (max-width: 977px) {
  .formContainerContent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .formInfoContent {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.formInfoContent {
  width: 506.95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 1109px) {
  .formImg {
    height: 20vw;
    width: 30vw;
  }
}

.formInfo {
  width: 506.95px;
  height: 604px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.leftForm {
  display: flex;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  word-wrap: break-word;
}

.formContent {
  width: 521.117px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  border: solid var(--lightGray) 1px;
}

.form::before {
  content: none;
}

.form::after {
  content: none;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formHeader {
  color: var(--lightGray);
  margin-top: 2em;
  margin-left: 4.5em;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 6px;
  text-align: center;
}

.formRow {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 5px 20px 5px 20px;
  margin: 5px;
}

.nameRow,
.comWebRow {
  width: 46%;
}

.email {
  width: 93%;
}

.label {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.subscribe {
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox {
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
}

.sub {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.impactInfo {
  padding-left: 20px;
  font-family: Merriweather;
  font-size: 16px !important;
  line-height: 1.75em;
  word-break: break-word;
  font-weight: 400;
}

.nameInput,
.comWebInput {
  width: 193.917px;
  height: 20px;
  padding: 10px;
}

.emailInput {
  width: 425.85px;
  height: 30px;
  padding: 10px;
}

.star {
  color: red;
  font-size: 12px;
}

.formButton {
  width: 95%;
}
.bottomButton {
  width: 100%;
  height: 45px;
  background-color: var(--blue);
  color: white;
  border-radius: 30px;
  border: none;
  letter-spacing: 2px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.bottomButton:hover {
  background-color: var(--darkBlue);
  cursor: pointer;
}
