.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 55.2vh;
}

.headerContent {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerInfo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70.5%;
}

.headerTitle {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo {
  height: 50px;
  width: 155px;
}

.headerInfo {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  text-align: center;
  padding-top: 40px;
}

.infoContainer {
  width: 50%;
}

.decoratedTitle {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 1.1em;
  color: #fff;
}
.decoratedTitle::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  height: 1px;
  text-align: left;
  left: 0;
  margin-right: 10px;
  width: 5%;
}

.decoratedTitle::after {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  height: 1px;
  text-align: left;
  left: 0;
  margin-right: 10px;
  width: 5%;
}

.infoInHeader {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  color: #fff;
  display: block;
}

.infoImage {
  display: flex;
  justify-content: center;
}

.img {
  height: 375px;
  width: 475px;
}

.img2 {
  display: none;
}
