.App{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://offers.impactplus.com/hs-fs/hub/145335/file-1930768851-jpg/Impact_Conversion_Collection/CTA/conversion-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  padding: 0;

}
