@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap");

:root {
  --blue: #1082c1;
  --darkBlue: #0b5b87;
  --background-Color: rgba(230, 245, 250, 0.8);
  --lightGray: #959595;
}

body {
  margin: 0;
}

ul {
  padding-left: 15px;
}

h4 {
  margin: 0;
  color: var(--lightGray);
  font-family: proxima-nova;
  font-size: 16px;
  font-weight: 600px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--darkBlue);
}

p {
  margin: 0;
}

input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--lightGray);
}
