@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");

:root {
  --blue: #1082c1;
  --darkBlue: #0b5b87;
  --background-Color: rgba(230, 245, 250, 0.8);
  --lightGray: #4f4f4f;
}

body {
  margin: 0;
}
